/*<style type="text/css">*/
/*require '/Cabana_Font'

@font-face {
    font-family: "My Custom Font";
    src: url() format("truetype");
}*/

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);


body {
  display:flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height:100%;
  color: white;
  background: linear-gradient(180deg, #000, #121213, #9194b6);
  /*background: linear-gradient(180deg, #9194b6, #000);*/
  background-size: 200%;
  background-position: 100%;
  animation: background-animation 10s ease infinite alternate;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

/*body {
 background: linear-gradient(80deg, #000000 , #5454a4 );
 background-size: 200%;
 background-position: 100%;
 animation: background-animation 10s ease infinite alternate;
 -webkit-font-smoothing: antialiased;
 line-height: 1.4;
}*/
@keyframes background-animation {
   0% {
       background-position: 100%;
   }
   100% {
       background-position: 0%;
   }
}

/*div {
  display: flex;
}*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 455px;
  width: 1024px;*/
  /*max-width: 100%;*/
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("doc.jpg");
  /*font-family: Tahoma, Geneva, sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.main {
  display: flex;
  justify-content: center;
  width: auto;
}

#name {
  border: 6px solid white;
  align-items: center;
  justify-content: space-around;
  font-size: 60px;
  color: white;
  padding: 0.5em 1em;
}

aside {
  /*border: 2px solid white;*/
  padding: 1em 0;
  width: 15%;
  height: 15%;
  font-family: 'Josefin Sans', sans-serif;
}

section {
  /*border: 1px solid black;*/
  max-width: 70%;
  margin: 0 1em;
  font-family: 'Josefin Sans', sans-serif;
}

/*p {
  border: 1px solid black;
}*/

nav {
  /*border: 1px solid black;*/
  margin: 1em 1em;
  font-size: 2.5em;
  font-family: 'Josefin Sans', sans-serif;

}

footer {
  /*border: 1px solid black;*/
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style: none;
}

i:hover {
    color: #dfc49a;
}

i {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  aside {
    /*border: 2px solid white;*/
    padding: 1em 0;
    width: 30%;
    height: 30%;
    font-family: 'Josefin Sans', sans-serif;
  }

    li {
      display: inline;
    }


}


/*
</style>*/
